@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Reset*/
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

/* Navbar styles */
nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

.dropdown {
  float: right;
}

.dropbtn {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown-content a:hover {
  background-color: #555;
}

/* Main content styles */
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

section {
  flex: 2;
}

article {
  margin-bottom: 20px;
}

aside {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}

/* Footer styles */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

/* Dropdown submenu styles */
.dropdown-submenu {
  position: relative;
  display: inline-block;
}

.dropdown-submenu .dropdown-content-submenu {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  left: 100%;
  top: 0;
}

.dropdown-submenu:hover .dropdown-content-submenu {
  display: block;
}

.dropdown-submenu:hover .dropbtn {
  background-color: #555;
}
